
.titulo-intro {
    background-color: rgba(252, 252, 249, 0.7); /* Fondo amarillo clarito con opacidad */
    padding: 80px; /* Espacio alrededor del texto */
    display: inline-block; /* Hace que el fondo amarillo se ajuste al tamaño del texto */
    margin: 0 auto; /* Centra el contenido */
    border-radius: 50px; /* Bordes redondeados */
    margin-top: 30px; /* Agrega un espacio entre el logo y el texto */
    font-size: 30px;
    font-family:sans-serif;
    text-align: justify;/* Centra el texto */
}
*/ /* Esta mierda si la quito se me descoloca el texto....así que aquí se queda */


.titulo-intro p {
    font-size: 30px;
    text-align:justify; /* Justifica el texto */
    max-width: 1000px; /* Limita el ancho del texto para que no se estire demasiado */
    margin-left: auto;
    margin-right: auto; /* Centra el texto en el contenedor */
}

.titulo-intro h1 {
    background-color: rgba(233, 242, 136, 0.6); /* Fondo amarillo clarito con opacidad */
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .imagenes-container {
        display: flex;
        justify-content: space-between;
        gap: 2cm; /* Espacio entre las imágenes */
        margin-top: 50px;
        width: 100%; /* Aseguramos que el contenedor ocupa todo el espacio disponible */
        max-width: 1000px; /* Limita el ancho máximo del contenedor de las imágenes */
        margin-left: auto;
        margin-right: auto; /* Centra el contenedor de imágenes */
    }
    
    .imagen-container {
        text-align: center; /* Centra el pie de foto debajo de la imagen */
        display: flex;
        flex-direction: column; /* Coloca los elementos (imagen y pie de foto) en columna */
        align-items: center; /* Centra los elementos (imagen y pie de foto) en el eje horizontal */
        flex: 1;  /* Asegura que el contenedor ocupe el espacio necesario */
    }
    
    .pie-de-foto {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase; /* Mayúsculas */
        margin-top: 10px; /* Separación del pie de foto de la imagen */
        text-align: center; /* Centra el texto */
    }
    
    .pie-de-foto a {
        text-decoration: none; /* Elimina el subrayado */
        color: #333; /* Color del texto */
    }
    
    .pie-de-foto a:hover {
        color: #007BFF; /* Cambia el color al pasar el ratón por encima */
    }
    
    .imagen-izquierda, .imagen-derecha{   
        max-width: 100% ;  /* Máximo de 100% del ancho del contenedor */
        height: auto ;    /* Mantiene la relación de aspecto */
        object-fit: contain;  /* Asegura que la imagen se ajuste sin perder su proporción */
    }
@media (max-width: 768px) {
    .imagen-izquierda, .imagen-derecha {
        max-width: 80%;  /* Las imágenes ocupan más espacio en pantallas pequeñas */
    }
}

